.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: #f4dec9;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

header {
  width: 100%;
  height: 110px;
  background-color: #364037;
  padding: 0px 120px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}
header div#brend-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
  height: fit-content;
}
header div#brend-container aside {
  display: flex;
  align-items: center;
}
header div#brend-container aside#logo {
  width: 69px;
  height: 69px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
header div#brend-container aside#brend a {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 26px;
  color: #f4dec9;
}
header div#brend-container aside#destination a {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #f4dec9;
  letter-spacing: 2.4px;
}
header form#search {
  margin-left: 100px;
  border: 1px solid #ffffff;
}
header form#search input#search-input {
  padding: 0px 10px;
  width: 200px;
  height: 45px;
  background-color: #364037;
  border: none;
  color: #ffffff;
  font-size: 15px;
}
header form#search input#search-input:focus {
  outline: none;
}
header form#search input#search-input::placeholder {
  color: #ffffff;
  font-size: 15px;
  font-weight: 100;
}
header form#search i {
  font-size: 15px;
  margin: 0px 10px;
  color: #ffffff;
}
header form#search:hover {
  border: 2px solid #ffffff;
}
header nav {
  width: fit-content;
  height: 110px;
}
header nav ul {
  width: fit-content;
  height: 110px;
  flex-direction: row;
}
header nav ul li {
  list-style: none;
  width: fit-content;
  height: 110px;
}
header nav ul li a {
  height: 110px;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  transition: 0.5s;
}
header nav ul li a:hover {
  color: #f4dec9;
}
header nav label#burger {
  font-size: 40px;
  color: #ffffff;
  display: none;
  cursor: pointer;
}
header nav input#bar {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}
main div#icons {
  width: 58px;
  height: 210px;
  flex-direction: column;
  position: fixed;
  right: 0px;
  top: calc(50vh - 100px);
  background-color: #986c43;
  gap: 20px;
  z-index: 1;
}
main div#icons a {
  color: #ffffff;
}
main section:nth-child(2) {
  width: 90%;
}
main section:nth-child(2) h1 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #364037;
  padding: 70px 0px;
  text-align: center;
}
main section:nth-child(3) {
  width: 90%;
  height: 431px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  border: 2px solid #000000;
}
main section:nth-child(3) aside:nth-child(1) {
  height: 431px;
  width: 40%;
  background-image: url(../images/mta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 2px solid #000000;
  background-position: right;
}
main section:nth-child(3) aside:nth-child(2) {
  width: 60%;
  height: 431px;
  background-color: #986c43;
}
main section:nth-child(3) aside:nth-child(2) div {
  width: 55%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section:nth-child(3) aside:nth-child(2) div h2 {
  font-family: "Playfair Display", serif;
  font-size: 21px;
  color: #ffffff;
  margin-bottom: 30px;
}
main section:nth-child(3) aside:nth-child(2) div p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 25px;
  padding-bottom: 20px;
}
main section:nth-child(3) aside:nth-child(2) div a {
  width: 162px;
  height: 50px;
  background-color: #364037;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
main section:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding-bottom: 100px;
}
main section:nth-child(4) h2 {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  color: #364037;
  font-weight: 400;
}
main section:nth-child(4) article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
main section:nth-child(4) article span {
  width: 170px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
}
main section:nth-child(4) article span:nth-child(1) {
  background-image: url(../images/png/image1.png);
}
main section:nth-child(4) article span:nth-child(2) {
  background-image: url(../images/png/image2.png);
}
main section:nth-child(4) article span:nth-child(3) {
  background-image: url(../images/png/image3.png);
}
main section:nth-child(4) article span:nth-child(4) {
  background-image: url(../images/png/image4.png);
}
main section:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
main section:nth-child(5) a {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  color: #000000;
}
main section:nth-child(5) h2 {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  color: #364037;
}
main section:nth-child(5) article {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
main section:nth-child(5) article span {
  padding: 0px 20px;
}
main section:nth-child(5) article span:nth-child(2) {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
main section:nth-child(5) article span:nth-child(3) {
  display: flex;
  gap: 15px;
}
main section:nth-child(6) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
main section:nth-child(6) h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(21px, 6vw, 26px);
  color: #364037;
  padding-bottom: 30px;
}
main section:nth-child(6) form {
  width: 580px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main section:nth-child(6) form span {
  display: flex;
  flex-direction: column;
}
main section:nth-child(6) form span label {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #364037;
  padding: 15px 0px 10px 0px;
}
main section:nth-child(6) form span input {
  width: 275px;
  height: 40px;
  font-size: 15px;
  border-radius: 0%;
  border: 1px solid #000000;
  box-sizing: border-box;
}
main section:nth-child(6) form span input:hover {
  border: 2px solid #000000;
}
main section:nth-child(6) form span textarea {
  width: 578px;
  box-sizing: border-box;
  resize: vertical;
}
main section:nth-child(6) form span textarea:hover {
  border: 2px solid #000000;
}
main section:nth-child(6) form button {
  width: 580px;
  background-color: #986c43;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
}
main section:nth-child(6) form button:hover {
  background-color: #364037;
}

footer {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  height: 400px;
  background-color: #364037;
  column-gap: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
footer section:nth-child(1) {
  height: 300px;
  display: flex;
  align-items: flex-start;
}
footer section:nth-child(1) div#brend-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
  height: fit-content;
}
footer section:nth-child(1) div#brend-container aside {
  display: flex;
  align-items: center;
}
footer section:nth-child(1) div#brend-container aside#logo {
  width: 69px;
  height: 69px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
footer section:nth-child(1) div#brend-container aside#brend a {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 26px;
  color: #f4dec9;
}
footer section:nth-child(1) div#brend-container aside#destination a {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #f4dec9;
  letter-spacing: 2.4px;
}
footer section:nth-child(2) {
  width: fit-content;
  height: 300px;
}
footer section:nth-child(2) li {
  padding-bottom: 30px;
}
footer section:nth-child(2) li a {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #c7cfc8;
  letter-spacing: 1px;
}
footer section:nth-child(3) {
  width: 370px;
  height: 300px;
  padding-left: 50px;
}
footer section:nth-child(3) p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  color: #ffffff;
}
footer section:nth-child(3) input {
  margin-top: 40px;
  width: 361px;
  height: 45px;
}
footer section:nth-child(3) input:hover {
  border: 2px solid #986c43;
}
footer section:nth-child(3) input::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #364037;
}
footer section:nth-child(3) button {
  margin-top: 20px;
  margin-left: 233px;
  width: 131px;
  height: 45px;
  background-color: #986c43;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border: none;
  transition: 0.5s;
}
footer section:nth-child(3) button:hover {
  background-color: #ffffff;
  color: #986c43;
  cursor: pointer;
}
footer section:nth-child(4) {
  display: block;
  width: 100%;
  height: fit-content;
}
footer section:nth-child(4) p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.5px;
}
footer section:nth-child(4) p a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}

/*# sourceMappingURL=contact.css.map */
